@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css");

.container > form {
  padding-top: 20px;
}

.error-msg {
  color: white !important;
  padding: 10px;
}

label {
  font-size:13px;
}